*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;

}
.banner{
	background-image: url('../img/academy-banner.jpg');
	background-size: cover;
	/*background-repeat: no-repeat;*/
}
.vh-80{
	height: 80vh;
}
.vh-sm-80{
	height: 80vh;
}
.vh-120{
	height: 80vh;
}
.w-sm-70{
	width: 80vh;
}
.w-50{
	width: 100vh;
}
.mysql{
	background-image: url('../img/modulebg.jpg');
	background-size: cover;
}
.vh-20{
	height: 20vh; 
}
.vh-50{
	height: 50vh;
}
.vh-40{
	height: 40vh;
}
.sec1{
	/*width: 50%;*/
	background-image: url("../img/testsbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.sec2{
	/*width: 50%;*/
	background-image: url("../img/intrvwbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.position-relative{
	
}
.position-absolute{
	top: 20vh;
	left: 70vh;
}
.training h4::before{
	content: '{';
	color: red;
}
.training h4::after{
	content: '}';
	color: red;
}

@media only screen and (max-width: 576px){
body{
	width: 100%;
}
.banner{
	background-image: none;
	background-color: #ffbf00;
	position: relative;

	/*text-align: center;*/
}
.banner .row img{
	position: absolute;
	left: 10vh;
	top: 33vh;


}
.banner .row h2{
	text-align: center;


}
.second{
	margin: 0;
}
/*.new{
	position: relative;
	width: 100%;
	height: 60vh;
	margin-left:0;
}
*/
.overlap{
	height: 80vh;
}
.new{
	width: 100%;
	height: 40vh;
	position: absolute;
	left: 0;
	top: 0vh;
	padding: 0;
}
.trainingsection{
	position: relative;
}
.training{
	width: 103%;
	height: 40vh;
	position: absolute;
	/*left: 10vh;*/
	right: 5px;
	top: 40vh;
	padding: 0;
}
.training h4{
	margin-bottom: 0;

}
.position-absolute{
	left: 0vh;
}
.content{
	height: 60vh;
}
.mysql{
	height: 185vh;
}
.content2{
	height: 50vh;
	margin-top: 10vh;
}
.content{
	margin-top: 10vh;
}
.footer{
	position: relative;

}
.footer h1{
	position: absolute;
	top: 6vh;
}
.footer h1{
	position: absolute;
	top: 6vh;
	/*text-align: center;*/
}
.footer a{
	position: absolute;
	top: 15vh;
	left:40%;
	
}
.footer .footerlast{
	position: absolute;
	top: 23vh;
}



}

